body{
	text-align: center;
	border: 8px;
}
.a{
	margin: 106px;
}
h5{
	font-size: 18px;
	margin: 40px
}
h1{
	font-size: 32px;
	margin-bottom: 32px;
}
p{
	font-size: 18px;
	margin-bottom: 27px;
}
a{
	padding-top: 8px;
	margin-right: -16px;
	margin-left: 16px;
}